.day{
	cursor:pointer
}
.day.active {
	border:1px solid !important;
	border-color:#000000 !omportant;
	margin:0;padding:0;
}
.day.event:not(active){
	background-color: #E3193B;
	color: #ffffff !important;
}
.day.on {
	background-color: #fff4af;
	color: #007edf
}
.day.on.event{
	 border:1px solid;
	 border-color:#E3193B;
}
.day-name.weekend,.day.weekend {
	color: #8d8d8d
}
.day-name.weekend,.day.weekend {
	color: #8d8d8d
}
.day.event.workOut{
	background-color: #4A58C2;
	color: #ffffff
}
.day.on.event.workOut{
	 border:1px solid;
	 border-color:#E3193B;
}
.month-name, .day-name {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}
.month-name {
	color: #ef4232;
}
.calendar_table {
	margin:0 auto;
	width:100%
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}